.python-version
MasteringPyTorch/Ch2DeepCNNArch/data/*
MasteringPyTorch/Ch2DeepCNNArch/cifar_model.pth  
MasteringPyTorch/Ch4DeepRNNs/aclImdb/*
MasteringPyTorch/Ch5HybridModels/dataset/cifar-10-batches-py/*
MasteringPyTorch/Ch5HybridModels/dataset/cifar-10-python.tar.gz
